#container-img {
    position: absolute;
    width: 83vw;
    height: 83vh;
    top: 15vh;
    left: 15vw;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1vw; 
    padding: 1vw; 
}

.imgGallerie {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    width: 100%; 
    height: auto;
    object-fit: cover;
}


.container {
    columns: 1 100%;
    column-gap: 0;
    width: calc(100% - 2em);
}

.card{
    width: 100%;
    min-height: 140px;
    break-inside: avoid;
    margin-bottom: 1em;
}